[defaults]
# 1. Fixes 'No inventory was parsed' warning
inventory = inventory/

# 2. Fixes 'role not found' error by adding 'roles/' to the search path
roles_path = roles/

# 3. Solves your SSH key issue permanently
private_key_file = ~/.ssh/lab_key

# 4. Good practice for labs
host_key_checking = False

interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
